/* selecteur general*/
body{
    margin: 0;
}
h1{
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
    font-size: 20px;
    color: white;
}
/*header*/
.elementGame{
    height: 85px;
    background-color: black;
}
.infoGame{
    margin: auto;
    max-width: 900px;
}
.scoreLvl{
    display: flex;
    justify-content: space-around;
    
}
.lvlText{
    margin-left: 20px;
}
/*canvas*/
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#canvas{
    background-color: black;
}